.button:hover,
.button:link,
.button:active,
.button:visited{
    color: white;
    text-decoration: none;
    display: block;
    background: #240202;
    font-size: 35px;
    padding: 14px 33px;
    line-height: 50px;
    position: relative;
}

.button::after{
    content: "";
    background-image: url("../css/img/right-arrow-svgrepo-com\ 1.svg");
    width: 28px;
    display: block;
    height: 34px;
    background-size: 28px 34px;
    position: absolute;
    right: 31px;
    top: 50%;
    transform: translateY(-50%)
  }