.hero-blue{
    background-color: #cefbff;
    border: 1px solid #707070;
    padding-bottom: 119px;
}
.hero-pink{
    background-color: #ECCEFF;
    border: 1px solid #707070;
    padding-bottom: 200px;
    padding-top: 80px;
}